.cards {
  display: none;
  gap: 40px;
}

@media (width <= 1365px) {
  .cards {
    flex-direction: column;
    gap: 39px;
  }
}

@media (max-width: $mobile-width) {
  .cards {
    flex-direction: column;
    gap: 35px;
  }
}

.card {
  width: 360px;
  padding: 59.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $default-white;
  border: 7px solid $default-white;
  pointer-events: none;
}

.card:focus-within {
  border-image: linear-gradient(131.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
}

.card:hover {
  border-image: linear-gradient(131.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
}


@media (width <= 1365px) {
  .card {
    width: 380px;
    height: 461px;
  }
}

@media (width <= 767px) {
  .card {
    width: 290px;
    min-height: 414px;
    max-height: 0;
    padding: 45px 42px;
  }
}

.card__title {
  text-align: center;
  margin: 0 0 20.5px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

@media (width <= 1365px) {
  .card__title {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .card__title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.card__description {
  margin: 0 0 16.5px;
  text-align: center;
}

@media (width <= 1365px) {
  .card__description {
    margin: 0 0 26px;
  }
}

@media (max-width: $mobile-width) {
  .card__description {
    font-size: 14px;
    line-height: 22px;
  }
}

.card__price {
  margin: auto 0 17px;
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  color: $ultra-blue;
  width: 203px;
  height: 155px;
  display: flex;
  align-items: flex-end;
  gap: 14px;
  justify-content: center;
  z-index: 1;
}

.card__price::before {
  position: absolute;
  content: attr(data-text);
  font-size: 100px;
  font-weight: 700;
  line-height: 150%;
  color: #e8e8e8;
  opacity: 0.48;
  z-index: -1;
}

@media (max-width: $mobile-width) {
  .card__price::before {
    font-size: 80px;
    line-height: 120px;
    margin-bottom: 24px;
  }
}

.card__price::after {
  content: "";
  width: 30px;
  height: 42px;
  background-image: url("/__spritemap#sprite-rubl-view");
  transform: translateY(-59%);
}

@media (max-width: $mobile-width) {
  .card__price::after {
    width: 24px;
    height: 33px;
    transform: translateY(-107%);
  }
}

@media (width <= 1365px) {
  .card__price {
    margin: 0 22px;
    height: 150px;
  }
}

@media (max-width: $mobile-width) {
  .card__price {
    font-size: 48px;
    line-height: 106px;
    margin-bottom: 10px;
    gap: 10px;
  }
}

.card__button {
  @include link-style;

  text-align: center;
  width: 195px;
  height: 66px;
  pointer-events: auto;


  &:focus {
    outline: none;
    background: linear-gradient(151.36deg, rgba(237, 2, 51, 0.8) 16.95%, rgba(0, 62, 183, 0.8) 96.59%);
    border-color: $default-black;
    color: $default-white;
  }

  &:hover {
    box-sizing: border-box;
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%);
    border-image: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
    color: $default-white;
  }

  &:active {
    box-sizing: border-box;
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%);
    border-image: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: $tablet-width) {
  .card__button {
    height: 66px;
    width: 250px;
  }
}

@media (max-width: $mobile-width) {
  .card__button {
    height: 66px;
    width: 195px;
  }
}
