.cards {
  display: none;
  gap: 40px;
}

@media (width <= 1365px) {
  .cards {
    flex-direction: column;
    gap: 40px;
  }
}

.card {
  width: 360px;
  padding: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $default-white;
}

@media (width <= 1365px) {
  .card {
    width: 380px;
    height: 461px;
  }
}

@media (width <= 767px) {
  .card {
    width: 290px;
    min-height: 414px;
  }
}

.card__title {
  margin: 0 0 18px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

@media (width <= 1365px) {
  .card__title {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }
}

.card__description {
  margin: 0 0 18px;
}

@media (width <= 1365px) {
  .card__description {
    margin: 0 0 22px;
  }
}

.card__price {
  margin: 0 0 18px;
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  color: $ultra-blue;
  width: 203px;
  height: 155px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.card__price::after {
  position: absolute;
  content: attr(data-text);
  font-size: 100px;
  font-weight: 700;
  line-height: 150%;
  color: #e8e8e8;
  opacity: 0.48;
  z-index: -1;
}

@media (width <= 1365px) {
  .card__price {
    margin: 0 0 22px;
    height: 150px;
  }
}

.card__button {
  width: 195px;
  height: 66px;

  &:focus {
    outline: none;
    background: linear-gradient(151.36deg, rgba(237, 2, 51, 0.8) 16.95%, rgba(0, 62, 183, 0.8) 96.59%);
    border-color: $default-black;
    color: $default-white;
  }

  &:hover {
    box-sizing: border-box;
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%);
    border-image: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
    color: $default-white;
  }

  &:active {
    box-sizing: border-box;
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%);
    border-image: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
    color: rgba(255, 255, 255, 0.7);
  }
}
