.contacts {
  width: 100%;
}

.contacts__container {
  width: 683px;
  padding: 60px 103px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
}

@media (max-width: $tablet-width) {
  .contacts__container {
    width: 768px;
    padding: 60px 45px;
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: $mobile-width) {
  .contacts__container {
    width: 320px;
    padding: 37px 15px 40px;
    margin: 0 auto;
    align-items: start;
  }
}

.contacts__title {
  margin: 0 0 36px;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
}

@media (max-width: $mobile-width) {
  .contacts__title {
    margin: 0 0 37px;
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__list {
  display: flex;
}

@media (max-width: $tablet-width) {
  .contacts__list {
    width: 440px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__list {
    width: 100%;
    flex-direction: column;
    gap: 28px;
  }
}

.contacts__list-left,
.contacts__list-right {
  width: 50%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: $mobile-width) {
  .contacts__list-left,
  .contacts__list-right {
    width: 100%;
    gap: 28px;
  }
}

.contacts__list-left {
  border-right: 1px solid $light-grey;
}

@media (max-width: $mobile-width) {
  .contacts__list-left {
    border-right: none;
  }
}

.contacts__list-right {
  padding-left: 59.5px;
}

@media (max-width: $tablet-width) {
  .contacts__list-right {
    padding-left: 29.5px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__list-right {
    padding-left: 0;
  }
}


.contacts__item-title {
  margin: 0 0 5px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: $mobile-width) {
  .contacts__item-title {
    margin: 0 0 12px;
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__item-description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: $mobile-width) {
  .contacts__item-description {
    line-height: 20px;
  }
}

.contacts__item-link {
  @include link-style;

  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: inline;
}

@media (max-width: $mobile-width) {
  .contacts__item-link {
    line-height: 20px;
  }
}
