.faq {
  background-color: $basic-bg;
}

.faq__container {
  width: 1366px;
  padding: 100px 103px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .faq__container {
    width: 768px;
    padding: 60px 45px;
  }
}

@media (max-width: $mobile-width) {
  .faq__container {
    width: 320px;
    padding: 70px 15px;
  }
}

.faq__title {
  margin: 0 0 49px;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
}

@media (max-width: $tablet-width) {
  .faq__title {
    text-align: center;
    margin: 0 0 45px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $mobile-width) {
  .faq__title {
    margin: 0 0 35px;
    font-size: 32px;
    line-height: 32px;
  }
}

.faq__tabs-container {
  display: flex;
  gap: 40px;
}

@media (max-width: $tablet-width) {
  .faq__tabs-container {
    flex-direction: column;
    gap: 45px;
  }
}

@media (max-width: $mobile-width) {
  .faq__tabs-container {
    gap: 35px;
  }
}

.faq__tabs {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
}

@media (max-width: $tablet-width) {
  .faq__tabs {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width) {
  .faq__tabs {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.faq__tabs-content {
  width: 100%;
}

.faq__tab {
  position: relative;
  width: 260px;
  height: 54.5px;
}

@media (max-width: $tablet-width) {
  .faq__tab {
    width: 162px;
  }
}

@media (max-width: $mobile-width) {
  .faq__tab {
    width: 140px;
    height: 45px;
  }
}

.faq__button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 23px 14px;
  font-size: 17.8px;
  font-weight: 400;
  line-height: 18.5px;
  border: 1px solid rgba(16, 38, 84, 0.2);

  &--active {
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 18.33%, rgb(0, 62, 183) 93.85%);
    color: $default-white;
  }

  &:focus {
    outline: none;
    background: none;
    border-color: $dark-blue;
    color: inherit;

  }

  &:hover {
    box-sizing: border-box;
    background: none;
    color: inherit;
    border-color: $dark-blue;
  }

  &:active {
    box-sizing: border-box;
    background: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%);
    border-image: linear-gradient(151.36deg, rgb(237, 2, 51) 16.95%, rgb(0, 62, 183) 96.59%) 30;
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    background: none;
    opacity: 0.2;
    pointer-events: none;
    color: inherit;
  }
}

@media (max-width: $mobile-width) {
  .faq__button {
    font-size: 16px;
    line-height: 16px;
  }
}

.faq__sublist {
  @include list-reset;

  display: none;
  border-bottom: 1px solid $light-grey;
}

.faq__radio:checked + .faq__sublist {
  display: block;
}
