.footer {
  flex-shrink: 0;
  background-color: $black-russian;
}

.footer__container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 103px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .footer__container {
    padding: 45px 45px 42px;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    padding: 40px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.footer img {
  object-fit: cover;
}
