.footer {
  flex-shrink: 0;
  background-color: $black-russian;
}

.footer__container {
  width: 1366px;
  margin: 0 auto;
  padding: 40px 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .footer__container {
    width: 768px;
    padding: 45px;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    width: 320px;
    padding: 40px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
