.form {
  width: 100%;
}

.form__fieldset {
  border: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .form__fieldset {
    width: 440px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .form__fieldset {
    width: 100%;
  }
}

.form__title {
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 36px;
  color: $default-white;
}

@media (max-width: $tablet-width) {
  .form__title {
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .form__title {
    text-align: start;
    font-size: 32px;
    line-height: 32px;
  }
}

.form__input-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 36px;
}

@media (max-width: $mobile-width) {
  .form__input-wrapper {
    flex-direction: column;
    gap: 36px;
    margin-bottom: 36px;
  }
}

.form__input {
  width: 223.5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $default-white;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid $light-grey;
}

@media (max-width: $tablet-width) {
  .form__input {
    width: 205px;
  }
}

@media (max-width: $mobile-width) {
  .form__input {
    width: 100%;
  }
}

.form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $light-grey;
}

@media (max-width: $mobile-width) {
  .form__input::placeholder {
    font-weight: 300;
  }
}

.form__button {
  width: 100%;
  min-height: 66px;
  padding: 20px 56px;
}

@media (max-width: $mobile-width) {
  .form__button {
    min-height: 60px;
  }
}
