.header__container {
  width: 100%;
  padding: 27px 104px 27px 103.2px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .header__container {
    padding: 26px 45px;
    padding-bottom: 27px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    padding: 10px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: $tablet-width) {
  .header__logo {
    margin-top: 4px;
  }
}

.header__link {
  @include link-style;

  font-family: $font-page;
  color: $default-white;
  font-size: 26px;
  font-weight: 670;
  line-height: 26.5px;
  padding: 5px 0;

  &:focus {
    color: $resulution-blue;
    outline: none;
  }

  &:hover {
    color: $resulution-blue;
    opacity: 0.5;
  }

  &:active {
    color: $dark-blue;
    text-decoration: underline;
    text-underline-offset: 11px;
    opacity: 1;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

@media (max-width: $tablet-width) {
  .header__link {
    font-size: 24px;
    line-height: 22.5px;
  }
}

@media (max-width: $mobile-width) {
  .header__link {
    font-size: 22px;
    line-height: 22px;
  }
}
