.hero {
  background: linear-gradient(90deg, rgb(28, 52, 119), rgb(28, 52, 119) 0.01%, rgb(26, 53, 120) 39.1%, rgb(115, 24, 75) 75.5%, rgb(180, 2, 42) 100%);
}

.hero__container {
  width: 1366px;
  padding: 25.5px 176px 116px;
  padding-right: 175.5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 55.5px;
  justify-content: flex-end;
}

@media (width <=1365px) {
  .hero__container {
    width: 768px;
    padding: 0 45px 100px;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (width <=767px) {
  .hero__container {
    width: 320px;
    padding: 48px 15px 32px;
  }
}

.hero__text-content {
  padding-top: 52px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-areas:
    "descr subtitle"
    "descr title"
    "descr button";
}

@media (width <=1365px) {
  .hero__text-content {
    padding-top: 31px;
    column-gap: 26px;
    align-self: flex-start;
    grid-template-columns: max-content 185px;
    width: 324px;
  }
}

@media (width <=767px) {
  .hero__text-content {
    width: 100%;
    padding-top: 0;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    min-width: 0;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      "subtitle subtitle"
      "descr    title"
      "button   button";
  }
}

.hero__title {
  margin: 0;
  grid-area: title;
  font-family: $font-second;
  font-size: 91.2px;
  font-weight: 770;
  line-height: 111px;
  letter-spacing: 4.3px;
  text-transform: uppercase;
  color: $default-white;
  text-align: end;
  margin-bottom: 40px;
}

@media (width <=1365px) {
  .hero__title {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }
}

@media (width <=767px) {
  .hero__title {
    font-size: 62px;
    line-height: 62px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
}

.hero__subtitle {
  display: inline-block;
  margin: 0 0 40px;
  grid-area: subtitle;
  text-align: end;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 580;
  line-height: 54px;
  color: $default-white;
}

@media (width <=1365px) {
  .hero__subtitle {
    margin: 0 0 10px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (width <=767px) {
  .hero__subtitle {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 14px;
  }
}

.hero__description-list {
  @include list-reset;
  margin-top: -2px;
  text-align: end;
  grid-area: descr;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 13.95px;
  color: $default-white;
  font-weight: 400;
  line-height: 22px;
}

@media (width <=767px) {
  .hero__description-list {
    line-height: 20px;
    align-self: flex-end;
  }
}

.hero__button {
  @include link-style;
  margin-top: -2px;
  color: $default-white;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: button;
  align-self: flex-end;
  width: 270px;
  height: 66px;
}

@media (max-width: $tablet-width) {
  .hero__button {
    align-self: flex-end;
    width: 185px;
    height: 56px;
    margin-left: auto;
    padding: 22px;
  }
}

@media (max-width: $mobile-width) {
  .hero__button {
    width: 100%;
    height: 60px;
    margin-top: 48px;
  }
}


@media (width <=767px) {
  .hero__picture {
    display: none;
  }
}
