.juri__swiper {
  width: 100%;
  height: 100%;
}

.juri__swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.juri__swiper-slide::before {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: $default-white;
  text-align: center;
  bottom: 25px;
  transition: opacity 0.3s ease-in-out;
}

.juri__swiper-slide:focus::before {
  opacity: 0;
}

.juri__swiper-slide:focus .slide-presentation {
  opacity: 1;
}

.juri__swiper-slide:hover::before {
  opacity: 0;
}

.juri__swiper-slide img {
  object-fit: cover;
  vertical-align: top;
}

.juri__swiper-button-prev {
  width: 56px;
  height: 56px;
  left: -62px;
}

.juri__swiper-button-next {
  width: 56px;
  height: 56px;
  right: -62px;
}

.juri__swiper-button-prev:focus,
.juri__swiper-button-next:focus {
  border: 1px solid $dark-blue;
  border-radius: 50%;
  background-color: #e8e8e8;
}

.juri__swiper-button-prev:hover,
.juri__swiper-button-next:hover {
  border: 1px solid $dark-blue;
  border-radius: 50%;
}

.juri__swiper-button-prev:active,
.juri__swiper-button-next:active {
  border: 1px solid $dark-blue;
  border-radius: 50%;
  background-color: $dark-blue;
  color: $default-white;
}

.juri__swiper-button-prev:active:after ,
.juri__swiper-button-next:active::after {
  color: $default-white;
}


.juri__swiper-button-next::after,
.juri__swiper-button-prev::after {
  color: $dark-blue;
  font-size: 32px;
}

@media (width <= 767px) {
  .juri__swiper-button-prev,
  .juri__swiper-button-next {
    display: none;
  }
}

.juri__swiper-slide-presentation {
  position: absolute;

  // display: none;
}
