.offers {
  width: 1366px;
  margin: 0 auto;
  padding: 100px 103px;
}

@media (max-width: $tablet-width) {
  .offers {
    width: 768px;
    margin: 0 auto;
    padding: 60px 45px;
  }
}

@media (max-width: $mobile-width) {
  .offers {
    width: 320px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

.offers__title {
  margin: 0 0 70px;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .offers__title {
    margin: 0 0 35px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $mobile-width) {
  .offers__title {
    margin: 0 0 40px;
    font-size: 32px;
    line-height: 32px;
  }
}

.offers__container {
  display: flex;
  gap: 40px;
}

@media (max-width: $tablet-width) {
  .offers__container {
    flex-direction: column;
    gap: 37px;
  }
}

.offers__hero-action {
  color: $default-white;
  width: 560px;
  background-color: $torch-red;
  display: flex;
}

@media (max-width: $tablet-width) {
  .offers__hero-action {
    width: 678px;
    height: 463px;
  }
}

@media (max-width: $mobile-width) {
  .offers__hero-action {
    width: 320px;
    height: auto;
    flex-direction: column;
  }
}

.offers__hero-action div {
  width: 50%;
  padding: 40px 45px 36px;
  display: flex;
  flex-direction: column;
}

@media (max-width: $tablet-width) {
  .offers__hero-action div {
    padding: 40px 25px 36px;
  }
}

@media (max-width: $mobile-width) {
  .offers__hero-action div {
    width: 100%;
    padding: 30px 30px 26px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.offers__hero-action div h3 {
  margin: 0 0 20px;
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: $tablet-width) {
  .offers__hero-action div h3 {
    width: 80%;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .offers__hero-action div h3 {
    width: 100%;
    margin: 0 0 9px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }
}

.offers__hero-action div span {
  display: block;
  margin: 0 0 40px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

@media (max-width: $mobile-width) {
  .offers__hero-action div span {
    margin: 0 0 28px;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
  }
}

.offers__hero-action div p {
  margin: 0 0 28px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .offers__hero-action div p {
    line-height: 25px;
  }
}

@media (max-width: $mobile-width) {
  .offers__hero-action div p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.offers__link {
  @include link-style;
  width: fit-content;
  margin-top: auto;
  text-transform: uppercase;
  color: $resulution-blue;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  padding: 10px;
  margin-left: -10px;
  // border-bottom: 1px solid $light-grey;
  transition: opacity 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 8px;

  &:focus {
    box-sizing: border-box;
    text-decoration: none;
    outline: 1px solid;
  }

  &:hover {
    opacity: 0.8;
    outline: none;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  &:active {
    outline: none;
    opacity: 1;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--white {
    color: $default-white;
    border-color: $default-white;
  }
}

@media (max-width: $tablet-width) {
  .offers__link {
    line-height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .offers__link {
    margin: -12px auto 0;
  }
}



.offers__image {
  display: block;
  object-fit: cover;
}

@media (max-width: $tablet-width) {
  .offers__image {
    height: 100%
  }
}

.offers__other-actions {
  @include list-reset;

  width: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: $tablet-width) {
  .offers__other-actions {
    width: auto;
    flex-direction: row;
  }
}

@media (max-width: $mobile-width) {
  .offers__other-actions {
    width: 290px;
    margin: 0 auto;
    flex-direction: column;
  }
}


.offers__other-action {
  padding: 7px;
  background: linear-gradient(to right, #d10a42, #00359f);
  width: 560px;
}

@media (max-width: $tablet-width) {
  .offers__other-action {
    padding: 7px;
    width: 328px;
    min-height: 188px;
  }
}

@media (max-width: $mobile-width) {
  .offers__other-action {
    padding: 7px;
    width: auto;
    min-height: 158px;
    margin-top: 2px;
  }
}

.offers__other-action div {
  display: flex;
  flex-direction: column;
  background-color: $default-white;
  padding: 23px 20px 17px;
}

@media (max-width: $tablet-width) {
  .offers__other-action div {
    height: 100%;
  }
}

@media (max-width: $mobile-width) {
  .offers__other-action div {
    padding: 21px 20px 13px;

  }
}

.offers__other-action div h3 {
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: $tablet-width) {
  .offers__other-action div h3 {
    margin-top: -1px;
  }
}

@media (max-width: $mobile-width) {
  .offers__other-action div h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }
}

.offers__other-action div p {
  margin: -1px 0 28px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .offers__other-action div p {
    margin: -1px 0 16px;
  }
}

@media (max-width: $tablet-width) {
  .offers__other-action div p {
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .offers__other-action div p {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}
