.price {
  position: relative;
  background-color: $basic-bg;
  z-index: 1;
}

.price::before {
  position: absolute;
  content: "";
  width: 321px;
  height: 384px;
  right: -92px;
  bottom: 10px;
  background-image: url("../../img/price-bg@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: rotate(150deg);
}

@media (width <= 767px) {
  .price::before {
    display: none;
  }
}

.price__container {
  width: 1366px;
  margin: 0 auto;
  padding: 100px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width <= 1365px) {
  .price__container {
    width: 768px;
    padding: 60px 45px;
  }
}

@media (width <= 767px) {
  .price__container {
    width: 320px;
    padding: 40px 15px;
  }
}

.price__title {
  margin: 0 0 20px;
  font-family: $font-second;
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
}

@media (width <= 1365px) {
  .price__title {
    margin: 0 0 35px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (width <= 767px) {
  .price__title {
    margin: 0 0 30px;
    font-size: 32px;
    line-height: 32px;
  }
}

.price__durations-list {
  @include list-reset;

  margin-bottom: 39px;
  display: flex;
  gap: 51.5px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  pointer-events: none;
}

.price__duration-button {
  border: none;
  padding: 0 0 9.5px;
  background: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  opacity: 50%;
  border-bottom: 2px solid rgba(120, 120, 120, 0);
  margin-bottom: -2px;
  pointer-events: auto;
  cursor: pointer;

  &--active {
    opacity: 1;
    border-bottom: 2px solid $torch-red;
  }

  &:focus {
    outline: none;
    color: $dark-blue;
    border-bottom: 2px solid $dark-blue;
  }

  &:hover {
    color: #787878;
    border-bottom: 2px solid #787878;
  }

  &:active {
    color: $dark-blue;
    border-bottom: 2px solid $torch-red;
  }

  &:disabled {
    background: none;
    opacity: 0.3;
    pointer-events: none;
    color: inherit;
    border-color: #b3baca;
  }
}

.price__cards {
  @include list-reset;

  display: none;
}


.price__radio {
  display: none;
}

.price__radio:checked + .price__cards {
  display: flex;
}

.price__radio:disabled {
  color: #b3baca;
  border-bottom: 2px solid #b3baca;
  pointer-events: none;
}
