.reviews {
  width: 1366px;
  padding: 100px 103px 82px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .reviews {
    width: 768px;
    padding: 60px 45px;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    width: 320px;
    padding: 40px 15px;
  }
}

.reviews__title {
  margin: 0 0 56px;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
}

@media (max-width: $tablet-width) {
  .reviews__title {
    margin: 0 0 17.5px;
  }
}

@media (max-width: $mobile-width) {
  .reviews__title {
    margin: 0 0 40px;
    font-family: $font-second;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__swiper-container {
  position: relative;
  width: 672px;
}

@media (max-width: $tablet-width) {
  .reviews__swiper-container {
    width: 678px;
  }
}

@media (max-width: $mobile-width) {
  .reviews__swiper-container {
    width: 240px;
  }
}
