.reviews__swiper {
  width: 672px;
  height: 100%;
}

@media (max-width: $tablet-width) {
  .reviews__swiper {
    width: 678px;
  }
}

@media (max-width: $mobile-width) {
  .reviews__swiper {
    width: 240px;
  }
}

.reviews__swiper-slide {
  width: 560px;
  text-align: start;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__swiper-slide img {
  object-fit: cover;
}

.reviews__swiper-button-prev {
  left: 0;
  top: 48%;
  padding-right: 40px;
  width: 56px;
  height: 56px;
}

@media (max-width: $tablet-width) {
  .reviews__swiper-button-prev {
    left: -4px;
  }
}

.reviews__swiper-button-next {
  right: 0;
  top: 48%;
  padding-left: 40px;
  width: 56px;
  height: 56px;
}

.reviews__swiper-button-prev:focus,
.reviews__swiper-button-next:focus {
  border: 1px solid $dark-blue;
  border-radius: 50%;
  background-color: #e8e8e8;
}

.reviews__swiper-button-prev:hover,
.reviews__swiper-button-next:hover {
  border: 1px solid $dark-blue;
  border-radius: 50%;
}

.reviews__swiper-button-prev:active,
.reviews__swiper-button-next:active {
  border: 1px solid $dark-blue;
  border-radius: 50%;
  background-color: $dark-blue;
  color: $default-white;
}

.reviews__swiper-button-prev:active:after ,
.reviews__swiper-button-next:active::after {
  color: $default-white;
}

@media (max-width: $tablet-width) {
  .reviews__swiper-button-next {
    right: -4px;
  }
}

.reviews__swiper-button-next::after,
.reviews__swiper-button-prev::after {
  color: $dark-blue;
  font-size: 32px;
}

@media (width <= 767px) {
  .reviews__swiper-button-prev,
  .reviews__swiper-button-next {
    display: none;
  }
}
