.video__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__picture {
  position: absolute;
}

.video__image {
  object-fit: cover;
  vertical-align: top;
}

.video__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__button-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(237, 2, 51, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

@media (max-width: $mobile-width) {
  .video__button-wrapper {
    width: 72px;
    height: 72px;
  }
}

.video__button-wrapper:focus-within {
  border-color: $dark-blue;
  outline: none;
}

.video__button {
  width: 72px;
  height: 72px;
  background: linear-gradient(151.36deg, rgb(237, 2, 51) 6.98%, rgb(0, 62, 183) 116.5%);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: $mobile-width) {
  .video__button {
    width: 52px;
    height: 52px;
  }
}

.video__button:focus {
  background: #c8c9cc;
}

.video__button:hover {
  background: $default-white;
}

.video__button .video__icon {
  fill: $default-white;
}

.video__button:focus .video__icon {
  fill: $dark-blue;
}

.video__button:hover .video__icon {
  fill: rgba(16, 38, 84, 0.6);
}

.video__button:disabled {
  background-color: $default-white;
  pointer-events: none;
}

.video__button:disabled .video__icon {
  fill: #9ba5b9;
}
