*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  font-family: $font-page;
  color: $dark-blue;
  font-size: $font-medium;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

@media (width < 1366px) {
  body {
    overflow-x: scroll;
  }
}

main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 768px;
  }

  @media (max-width: $mobile-width) {
    max-width: 320px;
  }
}
